<% if notice %>
  <p id="uk-alert">
    <%= notice %>
  </p>
<% end %>

<h3>Label Information</h3>
<hr>
<div class="my-fields">
  <table class="my-table">
    <thead>
      <tr>
        <% @table_header.each do |column| %>
          <th>
            <%= column %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
        <tr id="<%= @record.id %>">
          <% @table_header.each do |column| %>
            <% col = @record.send(column) %>
            <% case column %>
            <% when :created_at, :updated_at %>
              <td>
                <%= col.strftime("%Y/%m/%d %H:%M") %>
              </td>
            <% when :id %>
              <td class="uk-text-center">
                <%= col %>
              </td>
            <% when :spectrum_total_intensity %>
              <td>
                <%= sprintf("%.3e", col.to_f) %>
              </td>
            <% else %>
              <td>
                <%= col %>
              </td>
            <% end %>
          <% end %>
        </tr>
    </tbody>
  </table>
</div>



<h3>Spectrum Information</h3>
<hr>
<div class="my-fields">
  <p>
    This spectrum has null at <%= m_z_which_have_null @record %> (m/<span class="my-italic">z</span>).
  </p>

  <div id="chart_div" class="my-fields" style="width: 1100px; height: 500px;">
  </div>

  <div>
    * You need Internet connection to draw a chart.
  </div>
</div>




<%= link_to 'Edit', edit_project_record_path(@project, @record), class: 'uk-button uk-button-large' %>



<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['m/z', 'intensity'],
      <%= spectrum_for_chart @record %>
    ]);

    var options = {
      title: 'Spectrum of <%= @record.spectrum_sample_id %>',
      hAxis: {title: 'm/z', minValue: <%= @project.m_z_start %>, maxValue: <%= @project.m_z_end %>,ticks: <%= ticks_for_chart @project %>},
      vAxis: {title: 'intensity', format: "0.0E0"}
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
